<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.cs454.minesweeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash Screen -->

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Menu -->

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- High Scores -->

        <activity
            android:name=".HighScore"
            android:label="@string/title_activity_high_score"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.cs454.minesweeper.MainMenu" />
        </activity>


        <!-- Game Setup -->

        <activity
            android:name=".GameSettings"
            android:label="@string/title_activity_game_settings"
            android:parentActivityName=".MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.cs454.minesweeper.MainMenu" />
        </activity>


        <!-- Game -->

        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:parentActivityName=".GameSettings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.cs454.minesweeper.GameSettings" />
        </activity>
    </application>

</manifest>
